.contents {
  display: flex;
  flex-direction: row;
}

.main_wrapper {
  flex: 0 0 auto;
  width: 75%;
}

.panel_wrapper {
  flex: 0 0 auto;
  width: 25%;
  background-color: azure;
  height: 100%;
}
