/* 상단 페이지 헤더 : start */

.topbar_wrapper {
  display: flex;
  flex: 1;
  height: 3rem;
  background-color: var(--topbar-bg);
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

/* "Breadcrumb"은 길을 잃지 않도록 도와주는 나침반과 같은 역할을 하는 정보를 나타냅니다. 
  특히 웹 디자인 및 사용자 인터페이스에서 "breadcrumb"은 사용자가 현재 위치한 페이지의 경로를 
  시각적으로 표시하는 일련의 링크입니다. 이는 사용자가 웹 사이트 내에서 어디에 있는지 이해하고 
  쉽게 이동할 수 있도록 돕는 데 사용됩니다.
  
  예를 들어, 다음과 같은 Breadcrumb가 있다고 가정해 봅시다:
  Home > Products > Electronics > Smartphones */

.breadcrumb {
  font-size: 1rem;
  color: var(--text-muted-color);
  padding-left: 0.5rem;
}

/* 상단 페이지 헤더 : end */

.search {
  width: 100%;
  /* height: 31px; */
  max-width: 200px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #f0f0f0;
  /* background: var(--main-bg); */
  padding: 2px 0 0 0.5rem;
}
.search_ico {
  z-index: 2;
  font-size: 0.9rem;
  color: #c2c6cc;
}

.search_input {
  height: auto;
  /* transition: all 0.3s ease-in-out; */
  border: 0;

  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  margin: 2px 0px;
}

.search_input::placeholder {
  color: #757575;
}

.search_active {
  border-color: #b8b8b8;
}

.search_input_active::placeholder {
  color: #acacac;
}
