/* 페이지 내용 : start */

.contents {
  flex-wrap: wrap;
  display: flex;
  /* flex-direction: row; */
}

.main_wrapper {
  flex: 0 0 auto;
  width: 75%;

  overflow: scroll;

  padding-right: 4.5rem !important;
  padding-left: 1.5rem !important;
}

.post_list {
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.panel_wrapper {
  flex: 0 0 auto;
  width: 25%;
  /* background-color: azure; */
  height: 100%;
  padding-left: 0.5rem !important;
  margin-bottom: 3rem !important;
  padding-right: calc(1.5rem * 0.5);
}
@media (min-width: 49px) and (max-width: 1199px) {
  .main_wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media (max-width: 1199px) {
  .contents {
    justify-content: center !important;
  }
}

@media (max-width: 1199px) {
  .panel_wrapper {
    display: none;
  }
}

@media (max-width: 849px) {
  .contents {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1649px) {
  .main_wrapper {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .main_wrapper {
    padding-right: 1.75rem !important;
    padding-left: 1.75rem !important;
  }
}

@media (min-width: 1200px) {
  /* .contents {
    flex: 0 0 auto;
    width: 75%;
  } */
}

/* 페이지 내용 : end */
