.content {
}

.card_categories {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  line-height: 1.75;
  border-color: rgba(0, 0, 0, 0.125);
  color: #212529;
  border: 1px solid #dfe2e6;
  transition: all 3000s ease;
  overflow: hidden;
  border-radius: 0.625rem !important;
}

.card_categories_hide_border_bottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* .card_categories_border {
  border-radius: 0.625rem !important;
} */

.card_categories:last-child {
  border-bottom: 0px;
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: calc(0.625rem - 1px);
  background-color: #f8f8f8;
  margin-bottom: 0;
  padding: 0.75rem;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0.625rem;
}

.card_text {
  margin-left: 0.5rem !important;
}

.ico_trigger {
  position: relative;
  height: 0.7rem;
  width: 1rem;
  transition: transform 300ms ease;
  font-size: 86%;
  color: #6c757d !important;
}

.categories_tit {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.ico_category {
  font-size: 86%;
  color: gray;
}

.category_trigger {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  text-align: center;
  color: #6c757d !important;
}

.category_trigger:hover {
  background-color: #212529;
}

/** 높이 transition **/
.collapse {
  /* height: 90px; */
  overflow: hidden;
  transition: height 0.3s ease;
}

.collapse_ani {
  height: 0px !important;
}

.ul_list_group {
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.text_muted {
  font-size: 0.875em;
  color: #757575;
}
