.topbar_wrapper {
  display: flex;
  flex: 1;
  height: 3rem;
  align-items: center !important;
  background-color: var(--topbar-bg);
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.breadcrumb {
  font-size: 1rem;
  color: var(--text-muted-color);
  padding-left: 0.5rem;
}

/* .search {
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid #f0f0f0;
  padding: 2px 0 0 0.5rem;
} */
/* .search_ico {
  z-index: 2;
  font-size: 0.9rem;
  color: #c2c6cc;
} */

/* .search_input {
  height: auto;
  border: 0;

  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  margin: 2px 0px;
}

.search_input::placeholder {
  color: #757575;
}

.search_active {
  border-color: #b8b8b8;
}

.search_input_active::placeholder {
  color: #acacac;
} */

.mobile_topbar {
  width: 100%;
  display: none;
  justify-content: space-between;
}

.sidebar_trigger_ico::before {
  content: '\f0c9';
}

.sidebar_trigger {
  width: 46px;
  height: 38px;
  color: #999;
  padding: 6px 12px;
}

.search_trigger {
  width: 46px;
  height: 38px;
  color: #999;
  padding: 6px 12px;
}

.search_trigger_ico::before {
  content: '\f002';
}

.mobile_topbar_title {
  display: flex;
  align-items: center;
  font-size: 1.17rem;
  font-weight: 600;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
  color: rgb(78, 78, 78);
}

.topbar_txt::after {
  content: '›';
  padding: 0 0.5rem;
  font-size: 0.9rem;
}

.topbar_txt:last-child::after {
  content: none;
}

.topbar_txt:last-child {
  color: #757575 !important;
  pointer-events: none;
}

/* 모바일 크기 일때 sideMenu가 사라지는 시점에 */
@media (max-width: 849px) {
  .top_bar {
    display: none;
  }
  .topbar_wrapper {
    padding: 0 !important;
  }
  .mobile_topbar {
    display: flex;
  }
}

@media (min-width: 1200px) {
  /* .search {
    margin-right: 4rem;
  } */

  .topbar_wrapper {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 1650px) {
  /* .search {
    margin-right: 4.8rem;
  } */
}
