.access {
  top: 2rem;
  transition: top 0.2s ease-in-out;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.access:only-child {
  position: sticky;
}

.access_lastmod {
  margin-bottom: 4rem;
  padding-left: 1rem;
  border-left: 1px solid #f3f3f3;
}

.panel_heading {
  font-family: inherit;
  color: #585858;
  font-size: 16px;
  font-weight: 600;
}

.panel_recently {
  overflow-wrap: break-word;
  padding-left: 0;
  padding-bottom: 0.25rem !important;
  margin-left: 0.25rem !important;
  margin-top: 0.5rem !important;
}

.text_truncate {
  color: rgb(117, 117, 117);
  line-height: 2 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.9rem;
}

.panel_tag_contain {
  padding-left: 1rem;
  border-left: 1px solid #f3f3f3;
}

.panel_tag {
  flex-wrap: wrap !important;
  display: flex;
  margin-bottom: 0.25rem !important;
  margin-right: 1rem !important;
  margin-top: 1rem !important;
}

.tag {
  line-height: 1.05rem;
  font-size: 0.85rem;
  border-radius: 0.8rem;
  padding: 0.3rem 0.5rem;
  margin: 0 0.35rem 0.5rem 0;
  display: inline-block;
  min-width: 2rem;
  text-align: center;
  color: #757575;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(233, 236, 239);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tag:hover {
  background-color: aqua;
  color: white;
  border: 1px solid aqua;
}

.panel_wrapper {
  flex: 0 0 auto;
  width: 25%;
  /* background-color: azure; */
  height: 100%;
  padding-left: 0.5rem !important;
  margin-bottom: 3rem !important;
  padding-right: calc(1.5rem * 0.5);
}

@media (max-width: 1199px) {
  .panel_wrapper {
    display: none;
  }
}
