/* 페이지 내용 : start */

.main_wrapper {
  flex: 0 0 auto;
  width: 75%;
  padding-right: 4.5rem !important;
  padding-left: 1.5rem !important;
}

.contents {
  flex-wrap: wrap;
  display: flex;
  font-family: var(--font-IBM_Plex_Sans_KR);
}

/* .post_meta {
  color: var(--text-muted-color) !important;
  font-size: 0.85rem;
  line-height: 1.75;
} */

/* .time {
  font-weight: 500;
}

.author {
  font-weight: 500;
}

.author:hover {
  text-decoration: underline;
  color: #d63384;
}

.update::before {
  content: '•';
  padding-left: 0.25rem;
  padding-right: 0.25rem;
} */

/* .h1 {
  font-size: 1.92rem;
  color: var(--heading-color);
  font-weight: 500;
  font-family: var(--font-IBM_Plex_Sans_KR);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.2px;
} */

.h2 {
  color: var(--heading-color);
  font-weight: 500;
  font-family: var(--font-IBM_Plex_Sans_KR);
  margin-right: 0.5rem !important;
  font-size: 1.54rem;
  color: #2a2a2a;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  line-height: 1.4;
  text-wrap: wrap;
}

.h4 {
  color: var(--heading-color);
  font-weight: 600;
  font-family: var(--font-IBM_Plex_Sans_KR);
  margin-right: 0.5rem !important;
  font-size: 1rem;
  color: #2a2a2a;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  line-height: 1.4;
  text-wrap: wrap;
}

.content {
  margin-top: 2rem;
  overflow-wrap: break-word;
  /* color: #34343c; */
  color: #4e4e55;
  line-height: 1.6;
}

@media (min-width: 850px) {
  .h1 {
    margin-top: 3rem;
  }
}

@media (min-width: 1200px) {
  .footer_container {
    width: 75%;
  }
}

/* @media (max-width: 1199px) {
  .main_wrapper {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
} */

/* 페이지 내용 : end */
