/* 코드 컴포넌트 : s */

.code_container {
  color: #f6f8fa;
  margin-top: 0.5rem;
  margin-bottom: 1.2em;
  box-shadow: #ececec 0 0 0 1px;
  border-radius: 0.625rem;
  background-color: #f6f8fa;
}

.code_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 70%;
}

.code_header::before {
  content: '';
  display: inline-block;
  margin-left: 1rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #e5e5e5;
  box-shadow: 1.25rem 0 0 #e5e5e5, 2.5rem 0 0 #e5e5e5;
}

.title::after {
  content: attr(data-label-text);
  font-size: 0.85rem;
  font-weight: 400;
  color: #a3a3a3;
}

.ico_title {
  width: 1.75rem !important;
  color: #c9c8c8;
}

.ico_title::before {
  content: '\f121';
  font-size: 70%;
}

.copy {
  border: 1px solid rgba(0, 0, 0, 0);
  height: 2.25rem;
  width: 2.25rem;
  padding: 0;
  background-color: inherit;
  color: #c9c8c8;
  font-size: 1rem;
}

.ico_clipboard {
  content: '\f328';
}

/* 코드 컴포넌트 : e */
