.prompt_container {
  position: relative;
  background-color: rgb(123, 247, 144, 0.2);
  color: rgb(46, 46, 46, 0.77);
  border-radius: 0.625rem;
  padding: 1rem 1rem 1rem 3rem;
  margin: 0 0 1rem;
}

.prompt::before {
  position: absolute;
  left: 0.25rem;
  width: 3rem;
  content: '';
  color: #03b303;
  font: var(--fa-font-regular);
  text-align: center;
  margin-top: 0.4rem;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

/* tip : s */

.prompt_tip {
  background-color: rgb(123, 247, 144, 0.2);
}

.prompt_tip::before {
  color: #03b303;
  font: var(--fa-font-regular);
}

/* tip : e */

/* info : s */

.prompt_info {
  background-color: #e1f5fe;
}

.prompt_info::before {
  content: '';
  color: #0070cb;
  font: var(--fa-font-solid);
}

/* info : e */

/* warning : s */
.prompt_warning {
  background-color: rgb(255, 243, 205);
}

.prompt_warning::before {
  content: '';
  color: #ef9c03;
  font: var(--fa-font-solid);
}
/* warning : e */

/* prompt : s */
.prompt_danger {
  background-color: rgb(248, 215, 218, 0.56);
}

.prompt_danger::before {
  content: '';
  color: #df3c30;
  font: var(--fa-font-solid);
}
/* prompt : e */

.detail {
  font-size: 1.03rem;
  line-height: 1.75;
  margin-top: 0.1rem;
  font-family: var(--font-IBM_Plex_Sans_KR);
}
