/* 페이지 내용 : start */

.contents {
  display: flex;
  flex-direction: row;
}

.main_wrapper {
  flex: 0 0 auto;
  width: 75%;
  padding-right: 4.5rem !important;
  padding-left: 1.5rem !important;
}

.panel_wrapper {
  flex: 0 0 auto;
  width: 25%;
  background-color: azure;
  height: 100%;
}

.detail {
  padding-right: 0.25rem !important;
  padding-left: 0.25rem !important;
}

.h1 {
  font-size: 1.92rem;
  color: var(--heading-color);
  font-weight: 500;
  font-family: Lato, 'Microsoft Yahei', sans-serif;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

@media (min-width: 850px) {
  .h1 {
    margin-top: 3rem;
  }
}

/* 페이지 내용 : end */
