.ul_content {
  margin-top: 2rem;
  overflow-wrap: break-word;
  padding: 0;
}
.category_item_list {
  justify-content: space-between !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  line-height: 1.5rem;
  padding: 0.6rem 0;
  display: flex !important;
  overflow-wrap: break-word;
}

.category_item_list::before {
  background-color: #999;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  content: '';
  position: relative;
  top: 0.6rem;
  margin-right: 0.5rem;
}

.dash {
  margin: 0 0.5rem 0.6rem 0.5rem;
  border-bottom: 2px dotted silver;
  flex-grow: 1 !important;
}

.text_muted {
  color: #757575;
  font-size: 0.875em;
}

.tit {
  font-size: 1.1rem;
}
