.main_wrapper {
  display: flex;
  justify-content: center !important;
  transition: transform 0.4s ease;
  /* flex-direction: column; */
}

.main_move {
  transform: translateX(260px) !important;
}

@media (min-width: 1650px) {
  .main_wrapper {
    margin-left: 300px;
  }
}

@media (min-width: 850px) {
  .main-wrapper {
    margin-left: 260px;
  }
}

@media (min-width: 1400px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) {
}

@media (min-width: 768px) {
}

@media (min-width: 576px) {
}

@media (max-width: 849px) {
  .main_wrapper {
    transition: transform 0.4s ease;
  }
}

@media (min-width: 850px) {
  .main_wrapper {
    margin-left: 260px;
  }
}

@media (max-width: 1199px) {
}
